*{
    margin: 0;
    padding: 0;
}
 
body{
    width: 100vw;
    height: 100vh;
}
 
.formulario_dinamico{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid black;
}
 
.elementos{
    width: 50%;
    height: 50%;
    background-color: rebeccapurple;
    display: grid;
}
 
.imagen-nueva{
    height: 200px;
    width: 100px;
    
}